html {
    height: 100%;
}

body {
    height: 100%;
    margin: 5px;
}

header {
    height: 80px;
}

.header__title {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.input__wrapper {
    margin-bottom: 5px;
}

.form__label {
    display: inline-block;
    width: 65px;
}

.form__input {
    display: inline-block;
    width: 208px;
}

.button__wrapper {
    text-align: center;
}